body{
    background: black;
    color:#9e2722;
    font-family: monospace;
    margin:0;
    padding: 25px;
    text-shadow: 0 0 3px #6e1715; /*blurry effct*/
}
.top{
    
    margin-bottom: 30px;
}
.top div{
    margin:4px 0;
}

.terminal{
    max-width: 1000px;
    margin:0;
    opacity: 0.92;
}

p{
    margin:6px 0;
    font-size: 10px;
}
/*---giving CRT texture--*/
body::after{
    content:"";
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    pointer-events:none;
    background: repeating-linear-gradient(0deg, transparent, transparent 3px, rgba(255, 0, 0, 0.03));
}
.boot-line{
    visibility: hidden;
}

.section{
    margin-top:18px;

}
.section h3{
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
}
table{
    border-collapse: collapse;
}
th{
    text-align: left;
    font-weight: normal;
}

td,
th{
    padding-right: 25px;
    font-size:10px

}
.warning{
    color:#d8322c;
    text-shadow:0 0 4px #7e0a0a;
    font-size:13px;
}

#corruption p{
    margin:4px 0;
    
}
.boot{
    margin-top:25px;
}

#terminal-interface{
    font-size: 12px;
    margin-top: 35px;
    padding-bottom: 50px;
    display:none;
}
#terminal-output{
    min-height: 20px;
    margin-bottom: 7px;
    margin-top: 20px;
}
#terminal-output p{
    margin:8px;

}
.command-line{
    display:20px;
    align-items: center;
    width:100%
}
.command-line span{
    white-space: nowrap;
    margin-right: 8px;
}

#command-input{
    flex:1;
    color:#6e1715;
    background: transparent;
    border:none;
    outline:none;
    font-family: monospace;
    font-size: 13px;
    text-shadow: #6e1715;
    caret-color: #9e2722;
}
#jumpscare{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:black;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}
#jumpscare image{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.command-block{
    margin-bottom: 20px
}
.command-block p{
    margin:0 0 8px 0;
}