body{
    background: black;
    color:#9e2722;
    font-family: monospace;
    margin:0;
    padding: 25px;
    text-shadow: 0 0 3px #6e1715; /*blurry effct*/
}

.terminal{
    max-width: 900px;
    margin:auto;
    opacity: 0.92;
}

p{
    margin:3px;
    font-size: 15px;
}
/*---giving CRT texture--*/
body::after{
    content:"";
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    pointer-events:none;
    background: repeating-linear-gradient(Odeg, transparent, transparent px, #6c0601);
}
.boot-line{
    visibility: hidden;
}

.section{
    margin-top:27px;

}
.section h3{
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
}
table{
    border-collapse: collapse;
}
th{
    text-align: left;
    font-weight: normal;
}

td,
th{
    padding-right: 35px;
    font-size:13px

}
.warning{
    color:#d8322c;
    text-shadow:0 0 4px #7a1815
}